.container {
    display: flex;
    margin: 50px;
    display: flex;
}

.leftside {
    background: #d9d9d9;
    width: 823px;
    height: 3463px;
}

.ava_img {
    width: 823px;
    height: 904px;
    background-image: url("../img/ava.png");
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

.contact {
    display: flex;
    flex-wrap: wrap;
}

.contact p {
    color: #000000;
}

.contact .phone {
    display: flex;
    flex-direction: row;
    width: 823px;
    height: 144px;
    background-color: #0073bf;
    align-items: center;
}

.contact img {
    width: 66px;
    height: 67px;
    padding-left: 59px;
}

.contact .web {
    display: flex;
    width: 823px;
    height: 144px;
    background-color: #0099ff;
    align-items: center;
}

.contact .mail {
    display: flex;
    width: 823px;
    height: 144px;
    background-color: #00d9ff;
    align-items: center;
}

.contact p,
.contact a {
    color: #000000;
    font-family: "Open Sans";
    font-size: 35px;
    font-weight: 400;
    padding-left: 64px;
}

.personal,
.skills,
.software,
.reference {
    display: flex;
    flex-wrap: wrap;
    padding-left: 48px;
}

.personal .titl {
    margin-top: 80px;
    margin-right: 550px;
    width: 224px;
    height: 0px;
    color: #000000;
    font-family: "Century Gothic";
    font-size: 46px;
    font-weight: 700;
    text-transform: uppercase;
}

.personal .text1 {
    width: 199px;
    height: 207px;
    color: #000000;
    font-family: "Open Sans";
    font-size: 35px;
    font-weight: 400;
    line-height: 57.09px;
}

.personal .text2 {
    padding-left: 50px;
    width: 5px;
    height: 190px;
    color: #000000;
    font-family: "Open Sans";
    font-size: 35px;
    font-weight: 400;
    line-height: 57.08px;
}

.personal .text3 {
    padding-left: 37px;
    width: 291px;
    height: 206px;
    color: #000000;
    font-family: "Open Sans";
    font-size: 35px;
    font-weight: 400;
    line-height: 57.08px;
}

.skills .titl {
    margin-top: 77px;
    margin-right: 550px;
    width: 126px;
    height: 0px;
    color: #000000;
    font-family: "Century Gothic";
    font-size: 46px;
    font-weight: 700;
    text-transform: uppercase;
}

.skills .text {
    width: 261px;
    height: 320px;
    color: #000000;
    font-family: "Open Sans";
    font-size: 35px;
    font-weight: 400;
    line-height: 57.03px;
}

.skills .percentation div,
.software .percentation div {
    margin-left: 102px;
    margin-top: 43px;
    width: 373px;
    height: 16px;
}

.software .percentation div {
    margin-left: 138px;
}

.skills .percentation div:first-child,
.software .percentation .div:first-child {
    margin-top: 50px;
}

.skills .percentation .rectangle,
.software .percentation .rectangle {
    background: linear-gradient(to right, #00ffff 85%, #b6c0c1 15%);
}

.skills .percentation .rectangle01,
.software .percentation .rectangle01 {
    background: linear-gradient(to right, #00ffff 80%, #b6c0c1 20%);
}

.skills .percentation .rectangle02,
.software .percentation .rectangle02 {
    background: linear-gradient(to right, #00ffff 75%, #b6c0c1 25%);
}

.skills .percentation .rectangle03,
.software .percentation .rectangle03 {
    background: linear-gradient(to right, #00ffff 70%, #b6c0c1 30%);
}

.skills .percentation .rectangle04,
.software .percentation .rectangle04 {
    background: linear-gradient(to right, #00ffff 60%, #b6c0c1 40%);
}

.skills .percentation .rectangle05,
.software .percentation .rectangle05 {
    background: linear-gradient(to right, #00ffff 60%, #b6c0c1 40%);
}

.software .titl {
    margin-top: 75px;
    width: 729px;
    height: 0px;
    color: #000000;
    font-family: Raleway;
    font-size: 42px;
    font-weight: 700;
    text-transform: uppercase;
}

.software .text {
    width: 225px;
    height: 313px;
    color: #000000;
    font-family: "Open Sans";
    font-size: 35px;
    font-weight: 400;
    line-height: 57.12px;
    text-transform: uppercase;
    letter-spacing: 0.05px;
}

.reference .titl {
    margin-top: 75px;
    width: 253px;
    height: 0px;
    color: #000000;
    font-family: "Century Gothic";
    font-size: 46px;
    font-weight: 700;
    line-height: 62.49px;
    text-transform: uppercase;
    letter-spacing: 2.29px;
}

.ref1 .name,
.ref2 .name {
    padding-top: 40px;
    width: 785px;
    height: 0px;
    color: #000000;
    font-family: "Open Sans";
    font-size: 35px;
    font-weight: 700;
    line-height: 50.05px;
    text-transform: uppercase;
}

.ref2 .name {
    padding-top: 45px;
}

.ref1 .text1,
.ref2 .text1 {
    padding-top: 24px;
    width: 541px;
    height: 1px;
    color: #000000;
    font-size: 35px;
    font-weight: 400;
    line-height: 50px;
    font-family: "Open Sans - Semibold";
    font-weight: 600;
}

.ref1 .text2,
.ref2 .text2 {
    width: 541px;
    height: 1px;
    color: #000000;
    font-size: 35px;
    line-height: 50px;
    font-family: Lato;
    font-weight: 400;
}

.ref1 .text3,
.ref2 .text3 {
    width: 541px;
    height: 1px;
    color: #000000;
    font-size: 35px;
    line-height: 50px;
    font-family: "Open Sans";
}

.ref1 span,
.ref2 span {
    font-weight: 700;
}

.rightside {
    width: 1610px;
    height: 3463px;
}

.profile .title {
    padding-left: 103px;
    width: 902px;
    height: 79px;
    color: #00aeef;
    font-family: "Century Gothic";
    font-size: 104px;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 12.27px;
}

.profile .prof {
    padding-left: 103px;
    width: 549px;
    height: 38px;
    font-family: "Open Sans - Semibold";
    font-size: 50px;
    text-transform: uppercase;
    letter-spacing: 7.49px;
}

.profile .text {
    padding-left: 103px;
    width: 1459px;
    height: 306px;
    font-family: "Open Sans";
    font-size: 42px;
    line-height: 65.85px;
}

.experience .line,
.education .line,
.hobbies .line {
    display: flex;
    width: 1669px;
    height: 101px;
    background-color: #e5e5e5;
}

.experience .line p,
.education .line p,
.hobbies .line p {
    align-self: center;
    padding-left: 103px;
    width: 277px;
    font-family: "Century Gothic";
    font-size: 46px;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 2.29px;
}

.experience01 {
    display: flex;
    flex-wrap: wrap;
}

.experience01 .prof {
    padding-left: 100px;
    width: 320px;
    height: 31px;
    font-family: "Century Gothic";
    font-size: 33px;
    font-weight: 700;
}

.experience01 .cont {
    padding-left: 186px;
    width: 344px;
    height: 24px;
    font-family: "Century Gothic";
    font-size: 33px;
    text-transform: uppercase;
    margin-right: 660px;
}

.experience01 .year {
    padding-left: 100px;
    width: 221px;
    height: 29px;
    font-family: "Open Sans";
    font-size: 37px;
    letter-spacing: 1.87px;
}

.experience01 .text {
    padding-left: 286px;
    width: 934px;
    height: 136px;
    font-family: "Open Sans";
    font-size: 35px;
    line-height: 50.01px;
}

.experience02 {
    display: flex;
    flex-wrap: wrap;
}

.experience02 .prof {
    padding-left: 100px;
    width: 332px;
    height: 31px;
    font-family: "Century Gothic";
    font-size: 33px;
    font-weight: 700;
}

.experience02 .cont {
    padding-left: 174px;
    margin-right: 780px;
    width: 222px;
    height: 24px;
    font-family: "Century Gothic";
    font-size: 33px;
    text-transform: uppercase;
}

.experience02 .year {
    padding-left: 100px;
    width: 221px;
    height: 29px;
    font-family: "Open Sans";
    font-size: 37px;
    letter-spacing: 1.87px;
}

.experience02 .text {
    padding-left: 290px;
    width: 936px;
    height: 136px;
    font-family: "Open Sans";
    font-size: 35px;
    line-height: 50.01px;
}

.experience03 {
    display: flex;
    flex-wrap: wrap;
}

.experience03 .prof {
    padding-left: 100px;
    width: 320px;
    height: 31px;
    font-family: "Century Gothic";
    font-size: 33px;
    font-weight: 700;
}

.experience03 .cont {
    padding-left: 180px;
    margin-right: 612px;
    width: 392px;
    height: 24px;
    font-family: "Century Gothic";
    font-size: 33px;
    text-transform: uppercase;
}

.experience03 .year {
    padding-left: 100px;
    width: 221px;
    height: 29px;
    font-family: "Open Sans";
    font-size: 37px;
    letter-spacing: 1.87px;
}

.experience03 .text {
    padding-left: 280px;
    width: 934px;
    height: 136px;
    font-family: "Open Sans";
    font-size: 35px;
    line-height: 50.01px;
}

.experience04 {
    display: flex;
    flex-wrap: wrap;
    /*margin-top: 82px;*/
}

.experience04 .prof {
    padding-left: 100px;
    width: 332px;
    height: 31px;
    font-family: "Century Gothic";
    font-size: 33px;
    font-weight: 700;
}

.experience04 .cont {
    padding-left: 176px;
    margin-right: 610px;
    width: 392px;
    height: 24px;
    font-family: "Century Gothic";
    font-size: 33px;
    text-transform: uppercase;
}

.experience04 .year {
    padding-left: 100px;
    width: 221px;
    height: 29px;
    font-family: "Open Sans";
    font-size: 37px;
    letter-spacing: 1.87px;
}

.experience04 .text {
    padding-left: 292px;
    width: 936px;
    height: 136px;
    font-family: "Open Sans";
    font-size: 35px;
    line-height: 50.01px;
}

.education01 {
    display: flex;
    flex-wrap: wrap;
}

.education01 .name {
    padding-left: 100px;
    width: 297px;
    height: 31px;
    font-family: "Century Gothic";
    font-size: 33px;
    font-weight: 700;
}

.education01 .inst {
    padding-left: 194px;
    padding-right: 557px;
    width: 462px;
    height: 24px;
    font-family: "Century Gothic";
    font-size: 33px;
    line-height: 58.33px;
    text-transform: uppercase;
}

.education01 .year {
    padding-left: 100px;
    width: 221px;
    height: 29px;
    font-family: "Open Sans";
    font-size: 37px;
    letter-spacing: 1.87px;
}

.education01 .text {
    padding-left: 277px;
    width: 934px;
    height: 136px;
    font-family: "Open Sans";
    font-size: 35px;
    line-height: 50px;
}

.education02 {
    display: flex;
    flex-wrap: wrap;
    /*margin-top: 76px;*/
}

.education02 .name {
    padding-left: 100px;
    width: 297px;
    height: 31px;
    font-family: "Century Gothic";
    font-size: 33px;
    font-weight: 700;
}

.education02 .inst {
    padding-left: 195px;
    margin-right: 559px;
    width: 459px;
    height: 24px;
    font-family: "Century Gothic";
    font-size: 33px;
    line-height: 58.33px;
    text-transform: uppercase;
}

.education02 .year {
    padding-left: 100px;
    width: 221px;
    height: 29px;
    font-family: "Open Sans";
    font-size: 37px;
    letter-spacing: 1.87px;
}

.education02 .text {
    padding-left: 275px;
    width: 936px;
    height: 136px;
    font-family: "Open Sans";
    font-size: 35px;
    line-height: 50.01px;
}

.education03 {
    display: flex;
    flex-wrap: wrap;
    /*margin-top: 78px;*/
}

.education03 .name {
    padding-left: 100px;
    width: 297px;
    height: 31px;
    font-family: "Century Gothic";
    font-size: 33px;
    font-weight: 700;
}

.education03 .inst {
    padding-left: 180px;
    padding-right: 490px;
    width: 529px;
    height: 24px;
    font-family: "Century Gothic";
    font-size: 33px;
    line-height: 58.33px;
    text-transform: uppercase;
}

.education03 .year {
    padding-left: 100px;
    width: 221px;
    height: 29px;
    font-family: "Open Sans";
    font-size: 37px;
    letter-spacing: 1.87px;
}

.education03 .text {
    padding-left: 275px;
    width: 934px;
    height: 136px;
    font-family: "Open Sans";
    font-size: 35px;
    line-height: 50px;
}

.hobbies .cont {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 1390px;
    height: 110px;
    margin-left: 133px;
    margin-top: 79px;
}

.hobbies .music,
.hobbies .swwiming,
.hobbies .bowling_pins,
.hobbies .photography,
.hobbies .cycling {
    align-self: baseline;
}

.hobbies .music p {
    width: 93px;
    height: 31px;
    font-family: "Century Gothic";
    font-size: 33px;
    font-weight: 700;
}

.hobbies .swwiming p {
    width: 162px;
    height: 31px;
    font-family: "Century Gothic";
    font-size: 33px;
    font-weight: 700;
}

.hobbies .bowling_pins p {
    width: 200px;
    height: 31px;
    font-family: "Century Gothic";
    font-size: 33px;
    font-weight: 700;
}

.hobbies .photography p {
    width: 204px;
    height: 31px;
    font-family: "Century Gothic";
    font-size: 33px;
    font-weight: 700;
}

.hobbies .cycling p {
    width: 121px;
    height: 31px;
    font-family: "Century Gothic";
    font-size: 33px;
    font-weight: 700;
}